{% extends "base.html" %}

{% block content %}
<style>
    .about-section {
        margin: 20px;
        padding: 20px;
    }
    .point {
        margin-bottom: 20px;
    }
    .heading {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .description {
        font-size: 1em;
    }
</style>

<div class="about-section">
    <div class="point">
        <h2 class="heading">Next product</h2>
        <p class="description">
            I'm still thinking about it!
        </p>
    </div>

    <div class="point">
        <h2 class="heading">More</h2>
        <p class="description">
            Comming soon!
        </p>
    </div>

</div>
{% endblock %}
